body {
    color: #ECECEC;
    background-color: #282F44 !important;
    margin: 20px 50px;
    font-family: Avenir, Helvetica, Arial, sans-serif !important;
}
.main {
    background-color: rgb(238, 238, 238);
}
a {
    text-decoration: none !important;
    color: #282F44 !important;
}
h1{
    margin-top: 0px;
margin-bottom: 0px;
}

p {
    margin: 5px 0;
}

#app {
    
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ECECEC;
}
.thread, .comments, #chatBox, .notFoundPage {
    list-style-type: none;
    margin-top: 5px;
    color: #282F44;
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #F5D061;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.comments {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #E6AF2E;
}
.threadContent {
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #ECECEC;
    margin-bottom: 0px;
}
.date{
    text-align: right;
}
.noAccount{

    width: 200px;
}
.bottomText{
    font-size: 12px;
}
.navBar{
    display: flex;
    margin-top: 5px;
    color: #282F44;
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #F5D061;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ml-auto{
    text-align: right;
    margin-left: auto !important;
}
.logButton, #chatButton, .close, .notFoundPageHomeButton{
    border-radius: 5px;

    background-color: #E6AF2E;
    border: 1px solid #F5D061;
    color: #282F44;
    padding: 3px 24px;
    cursor: pointer;
    transition-duration: 0.2s;
}
#chatbutton {
    margin-left: 10px;
    padding: 5px 24px;
}
.logButton:hover, #chatButton:hover, .close:hover, .notFoundPageHomeButton:hover {
    background-color: #a8861d;
  }
.menu{
    margin-top: 5px;
    color: #282F44;
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #F5D061;
    text-align: right;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logged {
    text-align: left;
}
.top-bar {
    border-radius: 5px;
    background-color: #F5D061;
    border: 3px solid;
    border-color: #E6AF2E;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottom {
    display: flex;
    color: #ECECEC;
    font-size: 13px;
}
.timestamp {
    padding-right: 10px;
}
.link {
    color: blue;
}
.btn-group button {
    position: relative;
    
background-color: #F5D061;
border: 1px solid #E6AF2E;
color: #282F44;
padding: 10px 24px;
cursor: pointer;
float: left;
transition-duration: 0.4s;

}

 
.btn-group:after {
content: "";
clear: both;
display: table;
}

.btn-group button:not(:last-child) {
border-right: none;
}

.btn-group button:hover {
background-color: #E6AF2E;
}
.GOLDENTIMEFORUM {
    color: #282F44 !important;
}

#sidebar-right{
    border-radius: 5px;
    background-color: #F5D061 !important;
    border: 3px solid #E6AF2E;
}
#lastMessage{
    color: #665a49;
}
#chatBarButton{
    display: inline-block;
}
.statusDotOnline {
    margin-top: 5px;
    float: right;
    height: 10px;
    width: 10px;
    background-color: rgb(3, 172, 3);
    border-radius: 50%;
  }

  .statusDotOffline {
    margin-top: 5px;
    float: right;
    height: 10px;
    width: 10px;
    background-color: rgb(rgb(82, 82, 82));
    border-radius: 50%;
  }
