body {
    color: #ECECEC;
    background-color: #282F44;
    margin: 20px 50px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.main {
    background-color: rgb(238, 238, 238);
}
a {
    text-decoration: none;
    color: #282F44;
}
h1{
    margin-top: 0px;
margin-bottom: 0px;
}

p {
    margin: 5px 0;
}

#app {
    
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ECECEC;
}
.thread {
    list-style-type: none;
    margin-top: 5px;
    color: #282F44;
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #F5D061;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.noAccount{

    width: 200px;
}
.bottomText{
    font-size: 12px;
}
.navBar{
    display: flex;
    margin-top: 5px;
    color: #282F44;
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #F5D061;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ml-auto{
    text-align: right;
    margin-left: auto !important;
}
.logButton{
    border-radius: 5px;

    background-color: #E6AF2E;
    border: 1px solid #F5D061;
    color: #282F44;
    padding: 3px 24px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.logButton:hover {
    background-color: #F5D061;
  }
.menu{
    margin-top: 5px;
    color: #282F44;
    border-radius: 5px;
    border: 3px solid #E6AF2E;
    background-color: #F5D061;
    text-align: right;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logged {
    text-align: left;
}
.top-bar {
    border-radius: 5px;
    background-color: #F5D061;
    border: 3px solid;
    border-color: #E6AF2E;
    padding:  20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottom {
    display: flex;
    color: #ECECEC;
    font-size: 13px;
}
.timestamp {
    padding-right: 10px;
}
.link {
    color: blue;
}
.btn-group button {
background-color: #F5D061;
border: 1px solid #E6AF2E;
color: #282F44;
padding: 10px 24px;
cursor: pointer;
float: left;
transition-duration: 0.2s;

}

.btn-group:after {
content: "";
clear: both;
display: table;
}

.btn-group button:not(:last-child) {
border-right: none;
}

.btn-group button:hover {
background-color: #E6AF2E;
}